body{
  background-color: #F9FAFC;
}

/* Sidebar */
.sidenav {
  height: 100%; 
  width: 80px;
  position: fixed;
  z-index: 0; 
  top: 0;
  left: 0;
  background-color: #01134E;
  overflow-x: hidden; 
  padding-top: 18px;
  text-align: center;
}

.sidenav__logos {
  margin-top: 72px;
}

.sidenav__logos .active{
  border-left: 4px solid #0AD69C;
}

.sidenav__logos li {
  margin-top: 22px;
  width: 72px;
  height: 48px;
  border-left: 4px solid transparent;
  line-height: 48px;
}

.sidenav__logos li:first-child {
  margin-top:0;
}

.sidenav__logos li * {
  vertical-align: middle;
}

.sidenav__logos svg{
  margin-top: -3px;
}

.sidenav__logos--schedule svg:last-child{
  position: fixed;
  margin-top: 7px;
  margin-left: -11px;
}

.active svg *{
 fill: white;
}

/* Topbar */
.topbar{
  width: 100%;
  height: 60px;
  top: 0%;
  background-color: #FFFFFF;
  z-index: -1;
  position: fixed;
  border-bottom: 1px solid #DAE4F2;
}

.topbar__path{
  position: fixed;
  margin-left: 120px;
  margin-top: 25px;
}

.topbar__path--inner{
  margin-left: 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  letter-spacing: 0.685714px;
  display: inline-block;
}

.topbar__path--inner:first-child{
  margin-left: 0px; 
}

.topbar__path--inner a{
  text-decoration: none;
  color: #252F48;
}

.topbar__userinfo{
  position: fixed;
  width: 100%;
  height: 23px;
  margin-top: 22px;
}

ul.topbar__userinfo--list{
  height: 23px; 
}

ul.topbar__userinfo--list li{
  line-height: 23px;
  float: right;
  margin-right: 9px;
}

ul.topbar__userinfo--list li:first-child{
  margin-right: 50px;
}

ul.topbar__userinfo--list li *{
  vertical-align: middle;
}

.topbar__userinfo--avatar{
  height: 20px;
  width: 20px;
}

.topbar__userinfo--avatar img{
  margin-top: -3px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.topbar__userinfo--name{
  color: #252F48;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.28px;
}

.topbar__userinfo--dropdown{
  color:#01134E;
}

/* Content */
.content{
  position: relative;
  height: 498px;
  width: 900px;
  top: 50%;
  left: 50%;
  margin-top: 100px;
  margin-left: -450px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06);
  border-radius: 4px
}

.content__userlist--user{
  height: 83px;
  width: 299px;
  line-height: 83px;
  border-right: 1px solid #EDF0F4;
  transition: 0.3s;
}

.content__userlist--user:hover{
  box-shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15);
}

.content__userlist--user img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  margin-left: 25px;
}

.active--user{
  box-shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15);
}

.content__userlist--username {
  position: fixed;
  margin-left: 89px;
  margin-top: 23px;
  font-family: 'Exo 2', sans-serif;
  color: #01134E;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.571429px;
}

.content__userlist--userdiscription{
  position: fixed;
  margin-left: 89px;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #252F48;

  mix-blend-mode: normal;
  opacity: 0.43;
}

.content__userlist--usertime{
  position: fixed;
  margin-left: 253px;
  margin-top: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #252F48;
  mix-blend-mode: normal;
  opacity: 0.43;
}

.online {
  margin-bottom: 10px;
}

.muted{
  margin-left: 7px;
}

.content__search{
  height: 45px;
  width: 600px;
  margin-top: -497px;
  margin-left: 300px; 
  line-height: 45px;
  border-bottom: 1px solid #F5F6F9;
}

.content__search--submit{
  margin-left: 16px;
  background-color: transparent;
  border: 0px solid;
  vertical-align: middle;
}

.content__search--submit:focus{
  outline: 0;
}

.content__search--form input[type=text]{
  padding: 12px 10px; 
  width:529px;
  border: 0px;  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.5px;

  color: #252F48;
}

::placeholder{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.5px;

  color: #252F48;

  mix-blend-mode: normal;
  opacity: 0.2;
}

.content__search--form input[type=text]:focus{
  outline: 0;
}

.content__sendmessage{
  background-color: transparent;
  height: 61px;
  width: 600px;
  margin-left: 300px;
  margin-top: 390px;
  line-height: 61px;

  box-shadow: 0px 0px 20px rgba(153, 163, 174, 0.146541);
}

.content__sendmessage--form *{
  vertical-align: middle;
}

.content__sendmessage--form input[type=text]{
  padding: 12px 10px; 
  width:429px;
  border: 0px;  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.5px;

  color: #252F48;

}

.content__sendmessage--form input[type=text]:focus{
  outline: 0;
}

.content__sendmessage--emoji{
  background-color: transparent;
  border: 0px;
}

.content__sendmessage--attachment{
  margin-left: 5px;
  background-color: transparent;
  border: 0px;
}

.content__sendmessage--send{
  margin-left: 15px;
  background: #FFFFFF;
  padding: 8px 10px;
  box-shadow: 0px 0px 15px rgba(153, 163, 174, 0.259256);
  border: 0px;
  border-radius: 7px;
}

.content__messages{
  position: fixed;
  margin-left: 300px;
  margin-top: 6px;
  height: 378px;
  width: 596px;
  background-color: transparent;
  overflow-y: scroll;
}

/* width */
.content__messages::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
}

/* Track */
.content__messages::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 4px;
}
 
/* Handle */
.content__messages::-webkit-scrollbar-thumb {
  background: #dee4f1; 
  border-radius: 4px;
}

/* Handle on hover */
.content__messages::-webkit-scrollbar-thumb:hover {
  background: #dee4f1; 
  border-radius: 4px;
}

.content__messages--date{
  width: 100%;
  text-align: center;
  height: 50px;
}

.content__messages--date p{
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;

  color: #CACED9;
}

.content__messages--incoming{
  position: relative;
  margin-top: 120px;
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  float: left;

  color: #222428;
}

.content__messages--incoming img{
  position: absolute;
  bottom: 0px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: bottom;
}

.content__messages--outcoming{
  position: relative;
  margin-top: 25px;
  width: 100%;
  text-align: right;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  float: right;  

  color: #222428;
}

.message--incoming{
  position: relative;
  width: 300px;
  margin-top: -50px;
  margin-left: 80px;
  border-radius: 5px;
  background-color: #F7F9FC;
}

.message__text--incoming{
  width: 230px;
  line-height: 20px;
  padding: 10px 0px 10px 15px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: #222428;
}

.message__time--incoming{
  float: right;
  margin-top: -25px;
  margin-right: 11px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.428571px;

  color: #9BA0AD;
}

.message--incoming svg{
  position: absolute;
  bottom: -3px;
  left: -13px;
}

.message--outcoming{
  position: absolute;
  right: 20px;
  width: 300px;
  border-radius: 5px;
  background-color: #F7F9FC;
}


.message__text--outcoming{
  position: relative;
  text-align: left;
  width: 230px;
  line-height: 20px;
  padding: 10px 0px 10px 15px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #222428;
}

.message__time--outcoming{
  position: absolute;
  bottom: 10px;
  left: 255px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.428571px;

  color: #9BA0AD;
}

.message--outcoming svg{
  position: absolute;
  bottom: -3px;
  left: 289px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}